
html,body{
    width: 100%;
    height:100%
}
body{
    background-color:#1A4D8F;
}
#Header{
    width: 100%;
    height: 10%;
    background-color:#D4AF37;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ques{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    font-family: 'Gill Sans';
    font-size: 45px;
    color: #f4e9c6;
}


#para{
   font-size: 35px;
   display: flex;
    align-items: center;
    justify-content: center;
      color: #f4e9c6;
}
#para img{
    margin-left: 100px;
    border-style: solid;
    border-width: 11px;
    border-radius: 3px;
    border-color: #D4AF37;
}
#parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
}


button:hover{
    background-color: #D4AF37;
}
#btn1{
    padding: 20px;
    font-size: 25px;
    border-radius: 50px;
    margin-right: 100px;
 }

#btn2{
    padding: 20px;
    font-size: 25px;
    border-radius: 50px;
     margin-left:  100px;
    }
