html,body{
    width: 100%;
    height: 100%;
}

body {
        font-family: Arial, sans-serif;
        background-color:#0c2971 ;
      }

      h2{
        background-color: #ffee55;
        padding: 50px;
        height: 1%;
        font-size: 55px;
        font-family: 'Gill Sans';
        display: flex;
        align-items: center;
        justify-content: center;
          }

      table {
        margin: 20px auto;  
        width: 70%;          
        font-size: 20px;     
        border-style: solid;
        border-width: 10px;
      border-color: #f0f0f0;
       color: #b5e909;
      }
      th, td {
        padding: 12px;
        border-style: solid;
       border-radius: 10px;
        border-color: #f0f0f0;
      }
      input {
        width: 95%;         
        padding: 6px;
        font-size: 16px;
      }
      button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 16px;
      }

      button:hover{
        background-color: #4fffa6;
        font-weight: bolder;
        color:rgb(0, 0, 0)
      }