html,body{
    width: 100%;
    height: 100%;
}

body {
        font-family: Arial, sans-serif;
      }
      table {
        margin: 20px auto;  
        width: 70%;          
        font-size: 18px;     
        border-collapse: collapse;
      }
      th, td {
        padding: 12px;
        border: 1px solid black;
        text-align: left;
      }
      input {
        width: 95%;         
        padding: 6px;
        font-size: 16px;
      }
      button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        font-size: 16px;
      }