html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color:#153B77;
}
#heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #D4AF37;
    height: 10%;
    margin-top: 30px;
    font-family: 'Gill Sans';}

table {
        margin: 20px auto;  
        width: 100%;          
        font-size: 30px;     
        border-style: solid;
        border-width: 10px;
      border-color: #f0f0f0;
       color: #c3ff00;
      }
      th, td {
        padding: 12px;
        border-style: solid;
       border-radius: 10px;
        border-color: #f0f0f0;
      }

#btns{
    display:flex ;
    justify-content: center;
    align-items: center;

}

      button{
    font-size: 30px;
    background-color:#ffbb00;
    padding: 10px 20px;
    border-radius:100px;
    margin: 15px 40px;
}

button:hover{
    background-color:wheat;
}

input{
    padding: 8px;
    font-size: 20px;

}
#goal{
margin-right: auto;
font-size: 30px;
}
#tabel{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
