html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: aqua;
}

div{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}