html,body{
    width: 100%;
    height: 100%;
}

#heading{
    display:flex;
    justify-content: center;
    align-items: center;
}
#goal{
margin-right: auto;
}
#tabel{
   display:flex;
    justify-content: center;
    align-items: center;
} 
