html,body{
    width: 100%;
    height: 100%;
}

#heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#goalprice{
    
}
#goal{
margin-right: auto;
font-size: 30px;
}
#tabel{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
